<header class="flex items-center justify-between px-8 py-5">
  <div class="flex items-center gap-2 font-semibold text-lg">
    <img src="/logo_compose.png" alt="Logo" class="w-10 h-10" />
    <span class="ml-2"> Composable Desing</span>
  </div>

  <nav class="hidden md:flex gap-8 text-sm text-gray-600">
    <a href="#">Inicio</a>
    <a href="#">Componentes</a>
    <a href="#">Resources</a>
    <a href="#">Sobre Mi</a>
  </nav>

  <div class="flex items-center gap-4"></div>
</header>
